<tr class="gradeX">
  <td><%= ente.cod_essalud %></td>
  <td><%= ente.nombre %></td>
  <td><%= ente.red_asistencial.cod_essalud %></td>
  <td><%= ente.base_id %></td>
  <td>

  	<%= link_to ente, :class => 'btn btn-success btn-xs' do %>
      <i class="fa fa-eye"> </i> Ver
    <% end %>
  	<%= link_to edit_ente_path(ente), :class => 'btn btn-primary btn-xs' do %>
      <i class="fa fa-pencil"> </i> Editar
    <% end %>
    <%= link_to ente, :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: '¿Estás seguro?. Se eliminará una red asistencial. ' } do %>
      <i class="fa fa-trash-o"> </i> Eliminar
    <% end %>

  </td>    
</tr>

  