<% content_for :js_per_page do %>
  <%= javascript_include_tag "chosen"%>  
<% end %>
<% content_for :css_per_page do %>
  <%= stylesheet_link_tag "chosen", media: "all" %>
<% end %>


<%= form_for @ente, :html => {:class => 'form-horizontal'}  do |f| %>
  <div class="form-group">
    <%= f.label :cod_essalud, 'ID ESSALUD', class: 'col-lg-2 col-sm-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :cod_essalud, class: 'form-control',
                       id: 'disabledInput', disabled: action_name == 'edit'  %>
      <p class="help-block" id="error_notice"><%= f.object.errors[:cod_essalud].join(", ")%></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :nombre , class: 'col-lg-2 col-sm-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :nombre, class: 'form-control' %>
      <p class="help-block" id="error_notice"><%= f.object.errors[:nombre].join(", ")%></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :red_asistencial_id,'Red Asistencial', class: 'col-lg-2 col-sm-2 control-label' %>
    <div class="col-lg-10">
      <%= collection_select(:ente, :red_asistencial_id, @redes,
         :id, :cod_essalud, {:prompt => 'Ingresa una red'}, {class: "form-control m-bot15 s"})  %>
      <p class="help-block" id="error_notice"><%= f.object.errors[:red_asistencial_id].join(", ")%></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :base_id,'Base', class: 'col-lg-2 col-sm-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :base_id, class: 'form-control' %>
      <p class="help-block" id="error_notice"><%= f.object.errors[:base_id].join(", ")%></p>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :contacto_nombre,'Contacto', class: 'col-lg-2 col-sm-2 control-label'  %>
    <div class="col-lg-10">
      <%= f.text_field :contacto_nombre, class: 'form-control',
                       placeholder: 'Cargo y nombre del contacto' %>
      <p class="help-block" id="error_notice"><%= f.object.errors[:contacto_nombre].join(", ")%></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contacto_numero, 'Teléfono', class: 'col-lg-2 col-sm-2 control-label'  %>
    <div class="col-lg-10">
      <%= f.text_field :contacto_numero, class: 'form-control',
                       placeholder: 'Teléfono o móvil del contacto' %>
      <p class="help-block" id="error_notice"><%= f.object.errors[:contacto_numero].join(", ")%></p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Guardar', class:'btn btn-success' %>
    </div> 
  </div>
<% end %>

