<% provide(:title, 'Listado de Entes') %>
<% provide(:content_header_path,  entes_path) %>
<% provide(:content_header_data1,
          "<i class='fa fa-hospital-o'></i> Entes".html_safe) %>
<% content_for :js_per_page do %>
  <%= javascript_include_tag "import_ente"%>
  <%= javascript_include_tag "datatables_entes" %>
<% end %>
<% content_for :css_per_page do %>
  <%= stylesheet_link_tag "datatables", media: "all" %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Listado de entes
      </header>
      <div class="panel-body">
        <div class="adv-table">
          <table  class="display table table-bordered table-striped" id="entes",
                  data-source='<%= entes_path(format: "json")%>'>
            <thead>
              <tr>
                <th><i class="fa fa-bullhorn"></i> ID ESSALUD</th>
                <th><i class=" fa fa-hospital-o"></i> Nombre Ente</th>
                <th><i class="fa fa-sitemap"></i> RA Pertenece</th>
                <th>Base</th>
                <th>Enfermeras</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
              <tr>
                <th><i class="fa fa-bullhorn"></i> ID ESSALUD</th>
                <th><i class=" fa fa-hospital-o"></i> Nombre Ente</th>
                <th><i class="fa fa-sitemap"></i> RA Pertenece</th>
                <th>Base</th>
                <th>Enfermeras</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <header class="panel-heading" style= 'text-align: center'>
        <%= link_to new_ente_path, :class => 'btn btn-success' do %>
          <i class="fa fa-hospital-o"> </i> Nuevo ente
        <% end %>
        <a class="btn btn-warning" data-toggle="modal" href="#myImportEnteModal", id='btnImportEnte'>
            <i class="fa fa-upload"> </i> Importar
        </a>         
      </header>
    </section>
  </div>
</div>
<%= render 'index_import_modal' %>

