<% provide(:title, 'Aportaciones de agremiados') %>
<% provide(:content_header_path, pagos_path) %>
<% provide(:content_header_data1,
          "<i class='fa fa-usd'></i> Aportaciones de agremiados".html_safe) %>
<% content_for :js_per_page do %>
  <%= javascript_include_tag "import_pagos", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "chosen"%>
  <%= javascript_include_tag "ajax/flujo_mensual"%>
  <%= javascript_include_tag "datatables_flujo_mensual" %>
<% end %>
<% content_for :css_per_page do %>
  <%= stylesheet_link_tag "chosen", media: "all" %>
  <%= stylesheet_link_tag "datatables", media: "all" %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <% if can? :listar, Pago%>
      <header class="panel-heading">
        Aportaciones de agremiados
      </header>
      <div class="panel-body">
        <%= render 'filter_form' %>       
      </div>
      <%end%>      
    </section>
  </div>
</div>
<div class="row" id="second_fila">
</div>
<div class="row" id="third_fila">
</div>
<div class="row" id="fourth_fila">
  <% if can? :import, Pago%>
  <header class="panel-heading" style= 'text-align: center'>
    <a class="btn btn-danger" data-toggle="modal" href="#myImportPagos", id='btnImportPagos'>
        <i class="fa fa-upload"> </i> Importar
    </a>         
  </header>
  <%end%>
</div>
<%= render 'index_import_pagos' %>
