<div class="lock-wrapper">
    <div id="time"></div>
    <div class="lock-box text-center">
        <%= image_tag 'logo.jpg', size: "75x75"%>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                     :html => {:class => 'form-signin'}) do |f| %>
            <h2 class="form-signin-heading">INGRESO AL SISTEMA</h2>
            <div class="login-wrap">
                <%= f.text_field :dni, autofocus: true, class: 'form-control',
                                  placeholder: 'DNI' %>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control',
                                  placeholder: 'Password' %>
                <% if devise_mapping.rememberable? -%>
                  <label class="checkbox">
                    <%= f.check_box :remember_me %><%= f.label :remember_me,
                        'No cerrar sesión' %>
                    <span class="pull-right">
                        <a data-toggle="modal" href="#myModal"> ¿Problemas?</a>

                    </span>
                  </label>
                <% end -%>
                <div><%= f.submit "Ingresar", class:'btn btn-lg btn-login btn-block' %></div>
            </div>
        <% end %>
    </div>
    <%if flash[:alert]%>
		<div class="alert alert-block alert-danger" style='margin-top:10px'>
		  <strong><center><%= flash[:alert]%></center></strong>
		</div>		    
	<%end%>
</div>
<script>
    function startTime()
    {
        var today=new Date();
        var h=today.getHours();
        var m=today.getMinutes();
        var s=today.getSeconds();
        // add a zero in front of numbers<10
        m=checkTime(m);
        s=checkTime(s);
        document.getElementById('time').innerHTML=h+":"+m+":"+s;
        t=setTimeout(function(){startTime()},500);
    }

    function checkTime(i)
    {
        if (i<10)
        {
            i="0" + i;
        }
        return i;
    }
</script>