<tr>
  <td><%= red_asistencial.cod_essalud %></td>
  <td><%= red_asistencial.nombre %></td>
  <td><%= red_asistencial.contacto_nombre %></td>
  <td><%= red_asistencial.contacto_telefono %></td>
  <td>
    <%= link_to(red_asistencial_entes_path(red_asistencial), :class => '') do %>
      Ver <span class="badge bg-primary"><%= red_asistencial.entes.count %></span> entes
    <% end %>  
  </td>
  <td>
    <%if can? :edit, RedAsistencial%>
    <%= link_to(edit_red_asistencial_path(red_asistencial), :class => 'btn btn-primary btn-xs') do %>
      <i class="fa fa-pencil"> </i> Editar
    <% end %>
    <%end%>
    <%if can? :destroy, RedAsistencial%>
    <%= link_to red_asistencial, :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: '¿Estás seguro?. Se eliminará una red asistencial. ' } do %>
      <i class="fa fa-trash-o"> </i> Eliminar
    <% end %>
    <%end%>
  </td>             
</tr>