<% provide(:title, "Cambiar mi contraseña") %>
<% provide(:content_header_path,  dashboard_path) %>
<% provide(:content_header_data1,
          "<i class='fa fa-user'></i> Cambio de contraseña".html_safe) %>
<div class="row">
    <aside class="profile-info col-lg-9">
        <section>
            <div class="panel panel-primary">
                <div class="panel-heading"> Cambio de contraseña</div>
                <div class="panel-body">
                  <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
                     <div class="field">
                        <%= f.label :current_password, 'Contraseña actual' %></br>
                        <%= f.password_field :current_password %>
                      </div>
                    <div class="field">
                      <%= f.label :password, "Nueva contraseña" %></br>
                      <%= f.password_field :password, :autocomplete => "off"  %>
                    </div>
                    <div class="field">
                      <%= f.label :password_confirmation, 'Repetir nueva contraseña' %></br>
                      <%= f.password_field :password_confirmation %>
                    </div></br>
                    <div class="action_container">
                      <%= f.submit 'Cambiar'%>
                    </div>
                  <% end %>    
                </div>
            </div>
        </section>       
    </aside>
</div>









