<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
        <!-- settings start -->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-tasks"></i>
                <span class="badge bg-success">1</span>
            </a>
            <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                    <p class="green">Tienes 1 tarea pendente</p>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Entregable M1</div>
                            <div class="percent">100%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">100% Complete (success)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="external">
                    <a href="#">Ver todas las tareas</a>
                </li>
            </ul>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-important">2</span>
            </a>
            <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-red"></div>
                <li>
                    <p class="red">Tienes 2 mensajes</p>
                </li>
                <li>
                    <a href="#">
                        <span class="photo"><%= image_tag("iokero_logo.jpg", size: "29x29", alt: "") %></span>
                        <span class="subject">
                        <span class="from">Iokero</span>
                        <span class="time">Hace 1 minuto</span>
                        </span>
                        <span class="message">
                            Registro de cambio de base
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="photo"><%= image_tag("iokero_logo.jpg", size: "29x29", alt: "") %></span>
                        <span class="subject">
                        <span class="from">Iokero</span>
                        <span class="time">10 mins</span>
                        </span>
                        <span class="message">
                            Registro de cambio de base
                        </span>
                    </a>
                </li>
               
                <li>
                    <a href="#">Ver todos los mensajes</a>
                </li>
            </ul>
        </li>
        <!-- inbox dropdown end -->

        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#" id='notificaciones'>
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">
                    <%= @total_notificaciones %>
                </span>
            </a>
            <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                <li>
                    <p class="yellow"><%= @total_notificaciones %> notificaciones pendientes</p>
                </li>
                <%if @total_afiliaciones != 0 %>
                <li>
                    <%= link_to tipo_bitacora_path('afiliacion') do %>
                      <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                        Afiliaciones sin resolver.
                        <span class="small italic"><%= @total_afiliaciones%> casos</span>
                    <% end %>                    
                </li>
                <%end%>
                <%if @total_desafiliaciones!= 0 %>
                <li>
                    <%= link_to tipo_bitacora_path('desafiliacion') do %>
                        <span class="label label-warning"><i class="fa fa-bell"></i></span>
                        Desafiliaciones sin resolver.
                        <span class="small italic"><%= @total_desafiliaciones%> casos</span>
                    <% end %> 
                </li>
                <%end%>
                <%if @total_traslados!= 0 %>
                <li>
                    <%= link_to tipo_bitacora_path('traslado') do %>
                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                        Traslados sin resolver.
                        <span class="small italic"><%= @total_traslados%> casos</span>
                    <% end %> 
                </li>
                <%end%>
                <%if @total_otros!= 0 %>
                <li>
                    <%= link_to tipo_bitacora_path('otros') do %>
                        <span class="label label-warning"><i class="fa fa-bell"></i></span>
                        Otros sin resolver.
                        <span class="small italic"><%= @total_otros%> casos</span>
                    <% end %> 
                </li>
                <%end%>
                <li>
                    <%= link_to 'Ver todas las notificaciones.',bitacoras_path %>
                </li>
            </ul>
        </li>
        <!-- notification dropdown end -->
    </ul>
    <!--  notification end -->
</div>