<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
        <!-- settings start -->
        
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-important"><%= @count_total_impagos%></span>
            </a>
            <% if @ultimo_archivo_importado%>
            <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-red"></div>
                <li>
                    <p class="red">Tienes <%= @count_total_impagos%> agremiados sin aportación</p>
                </li>                
                <li>
                    <%= link_to pagos_retrasos_path(cotizacion: @ultimo_archivo_importado.fecha_pago) do%>
                        <span class="photo"><%= image_tag("logo.jpg", size: "29x29", alt: "") %></span>
                        <span class="subject">
                        <span class="from">Generados por el sistema.</span>
                        </span>
                        <span class="message">
                            Mes: <%= month_year(@ultimo_archivo_importado.fecha_pago) %>
                        </span>
                    <% end %>    
                </li>
               
            </ul>
            <% end %>
        </li>
        <!-- inbox dropdown end -->

        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#" id='notificaciones'>
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">
                    <%= @total_notificaciones %>
                </span>
            </a>
            <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                <li>
                    <p class="yellow"><%= @total_notificaciones %> notificaciones pendientes</p>
                </li>
                <%if @total_afiliaciones != 0 %>
                <li>
                    <%= link_to tipo_bitacora_path('afiliacion') do %>
                      <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                        Afiliaciones sin resolver.
                        <span class="small italic"><%= @total_afiliaciones%> casos</span>
                    <% end %>                    
                </li>
                <%end%>
                <%if @total_desafiliaciones!= 0 %>
                <li>
                    <%= link_to tipo_bitacora_path('desafiliacion') do %>
                        <span class="label label-warning"><i class="fa fa-bell"></i></span>
                        Desafiliaciones sin resolver.
                        <span class="small italic"><%= @total_desafiliaciones%> casos</span>
                    <% end %> 
                </li>
                <%end%>
                <%if @total_traslados!= 0 %>
                <li>
                    <%= link_to tipo_bitacora_path('traslado') do %>
                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                        Traslados sin resolver.
                        <span class="small italic"><%= @total_traslados%> casos</span>
                    <% end %> 
                </li>
                <%end%>
                <%if @total_otros!= 0 %>
                <li>
                    <%= link_to tipo_bitacora_path('otros') do %>
                        <span class="label label-warning"><i class="fa fa-bell"></i></span>
                        Otros sin resolver.
                        <span class="small italic"><%= @total_otros%> casos</span>
                    <% end %> 
                </li>
                <%end%>
                <li>
                    <%= link_to 'Ver todas las notificaciones.',bitacoras_path %>
                </li>
            </ul>
        </li>
        <!-- notification dropdown end -->
    </ul>
    <!--  notification end -->
</div>