<div class="top-nav ">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder="Search">
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <%= image_tag("logo.jpg", size: "29x29", alt: "") %>
                <span class="username">USUARIO: <%= current_user.apellidos_nombres%></span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li>
                <%= link_to mi_perfil_path do%>
                    <i class="fa fa-suitcase"></i> Ver perfil
                <%end%>
                </li>
                <li>
                <%= link_to edit_password_path do%>
                    <i class="fa fa-cog"></i> Contraseña
                <%end%>
                </li>
                <li>
                <%= link_to destroy_user_session_path, :method => :delete do%>
                    <i class="fa fa-key"></i> Cerrar Sesión
                <%end%>
                </li>
            </ul>
        </li>
        <!-- user login dropdown end -->
    </ul>
    <!--search & user info end-->
</div>