<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="fa fa-star"></i>
            </div>
            <div class="value">
                <h1 class="count">
                    <%=Enfermera.total_sinesss.count%>
                </h1>
                <p>TOTAL AGREMIADOS</p>
            </div>
        </section>
    </div>

    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class="count">
                    <%=Enfermera.solo_sinesss.count%>
                </h1>
                <p>SOLO SINESSS</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class=" count4">
                   <%=Enfermera.solo_fedcut.count%>
                </h1>
                <p>SOLO FEDCUT</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class=" count4">
                   <%=Enfermera.solo_famesalud.count%>
                </h1>
                <p>SOLO FAMENSALUD</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="fa  fa-users"></i>
            </div>
            <div class="value">
                <h1 class=" count2">
                  <%=Enfermera.sinesss_and_fedcut.count%>
                </h1>
                <p>SINESSS + FEDCUT</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="fa  fa-users"></i>
            </div>
            <div class="value">
                <h1 class=" count3">
                  <%=Enfermera.sinesss_and_famesalud.count%>
                </h1>
                <p>SINESSS + FAMENSALUD</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="fa  fa-users"></i>
            </div>
            <div class="value">
                <h1 class=" count4">
                   <%=Enfermera.triple_afiliacion.count%>
                </h1>
                <p>SINESSS + FEDCUT + FAMENSALUD</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol red">
                <i class="fa fa-frown-o"></i>
            </div>
            <div class="value">
                <h1 class=" count4">
                  <%=Enfermera.sin_sindicato.count%>
                </h1>
                <p>SIN SINDICATO</p>
            </div>
        </section>
    </div>
    
</div> 