 <div class="panel-body bio-graph-info">
    <h1>Datos laborales</h1>
    <div class="row">
        <div class="bio-row">
            <p><span>Cod. Planilla </span>: <%=@enfermera.cod_planilla %></p>
        </div>
        <div class="bio-row">
            <p><span>Trabaja </span>: <%= link_to @enfermera.ente.cod_essalud, ente_path(@enfermera.ente) %></p>
        </div>
        <div class="bio-row">
            <p><span>Régimen </span>: <%= @enfermera.regimen %></p>
        </div>
        <div class="bio-row">
            <p><span>¿SINESSS?</span>: <%= afiliado?(@enfermera.b_sinesss).html_safe %></p>
        </div>
        <div class="bio-row">
            <p><span>¿FED-CUT? </span>: <%= afiliado?(@enfermera.b_fedcut).html_safe %></p>
        </div>
        <div class="bio-row">
            <p><span>¿FAMENSSALUD? </span>: <%= afiliado?(@enfermera.b_famesalud).html_safe %></p>
        </div>
        <div class="bio-row">
            <p><span>Fecha inscripción al SINESSS </span>: <%=fecha_con_formato(@enfermera.fecha_inscripcion_sinesss) %></p>
        </div>
        <div class="bio-row">
            <p><span>Fecha ingreso a ESSALUD </span>: <%= fecha_con_formato(@enfermera.fecha_ingreso_essalud) %></p>
        </div>        
    </div>
</div>
