<% provide(:title, "Aportaciones de la enfermera: #{@enfermera.full_name}") %>
<% provide(:content_header_path,  enfermera_path(@enfermera) ) %>
<% provide(:content_header_data1,
          "<i class='fa fa-female'></i> #{@enfermera.full_name}".html_safe) %>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Aportaciones de la enfermera: <%= @enfermera.full_name %> 
      </header>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><i class="fa fa-calendar"></i> Mes aportación</th>
              <th><i class="fa fa-usd"></i> Monto</th>
              <th><i class="fa fa-exclamation-circle"></i> Base aportante</th>
              <th><i class="fa fa-hospital-o"></i> Generado por</th>
            </tr>
          </thead>
          <tbody>
           <% @aportaciones.each do |aportacion| %>
            <tr>
              <th><%= month_year(aportacion.mes_cotizacion) %></th>
              <th><%= number_to_currency(aportacion.monto, :unit => "S/. ") %></th>
              <th><%= aportacion.base %></th>
              <th><%= aportacion.generado_por + ', '+ aportacion.archivo %></th>
            <tr>
           <%end%>
          </tbody>
        </table>
      </div>
      <header class="panel-heading" style= 'text-align: center'>
                   
      </header>
    </section>
  </div>
</div>


