<% provide(:title, 'Listado de Enfermeras') %>
<% provide(:content_header_path,  enfermeras_path) %>
<% provide(:content_header_data1,
          "<i class='fa fa-female'></i> Enfermeras".html_safe) %>
<% content_for :js_per_page do %>
  <%= javascript_include_tag "import_enf" %>
  <%= javascript_include_tag "import_data_enfermeras" %>
  <%= javascript_include_tag "datatables_enfermeras" %>
<% end %>
<% content_for :css_per_page do %>
  <%= stylesheet_link_tag "datatables", media: "all"%>
<% end %>
<% if can? :show, Enfermera%>
<%= render 'index_estadisticas'%>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <% if can? :show, Enfermera%>
      <header class="panel-heading">
        Listado de enfermeras
      </header>
      <div class="panel-body">
        <div class="adv-table">
          <table  class="display table table-bordered table-striped" id="enfermeras"
                  data-source="<%= enfermeras_path(format: "json") %>">
            <thead>
              <tr>
                <th><i class="fa fa-bullhorn"></i> COD PLANILLA</th>
                <th><i class=" fa fa-user"></i> APELLIDOS Y NOMBRES</th>
                <th><i class=" fa fa-briefcase"></i> RÉGIMEN</th> 
                <th><i class=" fa fa-star"></i> ¿SINESSS?</th>
                <th></th>
              </tr>
            </thead>
            <tbody>                  
            </tbody>
            <tfoot>
              <tr>
                <th><i class="fa fa-bullhorn"></i> COD PLANILLA</th>
                <th><i class=" fa fa-user"></i> APELLIDOS Y NOMBRES</th>
                <th><i class=" fa fa-briefcase"></i> RÉGIMEN</th> 
                <th><i class=" fa fa-star"></i> ¿SINESSS?</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <% end%>
      <header class="panel-heading" style= 'text-align: center'>
        <% if can? :create, Enfermera%>
        <%= link_to new_enfermera_path, :class => 'btn btn-success' do %>
          <i class="fa fa-female"> </i> Nueva enfermera
        <% end %>
        <% end %>
        <% if can? :importar_essalud, Enfermera%>
        <a class="btn btn-warning" data-toggle="modal" href="#myImportEnfModal", id='btnImportEnf1'>
            <i class="fa fa-upload"> </i> Importar
        </a>
        <% end %>
        <% if can? :importar_data_actualizada, Enfermera%>
        <a class="btn btn-primary" data-toggle="modal" href="#myActDataEnf", id='btnActDataEnf'>
            <i class="fa fa-upload"> </i> Actualizar Datos Enf.
        </a>
        <% end %>                  
      </header>
    </section>
  </div>
</div>
<% if can? :importar_essalud, Enfermera%>
<%= render 'index_import_modal'%>
<%= render 'index_import_modal_own_data'%>
<% end %> 