<section class="panel">
        <header class="panel-heading">
          Entes
        </header>
        <div class="panel-body bio-graph-info">     
          <div class="row">
              <% @basis.entes.each do |ente|%>
                <div class="bio-row">
                  <p><span>Ente</span><span class="label label-warning" style="width:150px">
                    <%= link_to ente.cod_essalud, ente_path(ente.id) %>  
                  </span></p>
                </div>  
              <% end %>
          </div>               
        </div>
        <header class="panel-heading">
        Datos de la Base   
        </header>
        <div class="panel-body bio-graph-info">
            <div class="row">
                <div class="bio-row">
                    <p><span>Cod. Base</span>: <%= @basis.codigo_base %></p>
                </div>
                <div class="bio-row">
                    <p><span>Nombre</span>: <%= @basis.nombre_base %></p>
                </div>
            </div>
        </div>
        <header class="panel-heading">
        Datos de Junta Directiva Actual  
        </header>
        <div class="panel-body bio-graph-info">
            <div class="row">
              <% if @junta %>
                <div class="bio-row">
                    <p><span>Secr.General</span>: <%= @junta.secretaria_general %></p>
                </div>
                <div class="bio-row">
                    <p><span>Email</span>: <%= @junta.email %></p>
                </div>
                <div class="bio-row">
                    <p><span>Inicio Gestión</span>: <%= fecha_con_formato @junta.inicio_gestion %></p>
                </div>
                <div class="bio-row">
                    <p><span>Fin Gestión</span>: <%= fecha_con_formato @junta.fin_gestion %></p>
                </div>
                <div class="bio-row">
                    <p><span>Teléfono</span>: <%= @junta.numero_celular %></p>
                </div>
                <div class="bio-row">
                    <p><span>Otros</span>: <%= @junta.descripcion %></p>
                </div>
              <%else%>
                <div class="bio-row">  
                  <p><span>OJO </span>: Esta base no tiene un Junta directiva VIGENTE, agrega una.</p>
                </div>                  
              <%end%>
            </div>
        </div>

        <header class="panel-heading" style="text-align: center">
        <%if current_user.organizacional? %>  
        <%= link_to edit_basis_path(@basis), :class => 'btn btn-primary' do %>
          <i class="fa fa-pencil"> </i> Editar Base
        <% end %>
        <%end%>
        <%if current_user.organizacional? %>       
        <%= link_to @basis, :class => 'btn btn-danger', method: :delete, data: { confirm: '¿Estás seguro?. Se eliminará esta base. ' } do %>
          <i class="fa fa-trash-o"> </i> Eliminar Base
        <% end %>
        <%end%>
        <%if can? :create, Junta%>
        <%= link_to basis_new_junta_path(@basis), :class => 'btn btn-success' do %>
           Nueva Junta Directiva
        <% end %> 
        <% end %> 

</section>